.states {
    // position: absolute;
    flex-flow: column nowrap;
    display: inline-flex;
}
.propulsion {
    color: white;
    border: 1px $orange solid;
    margin: 1px;
    &_num {
        position: relative;
        display: block;
        padding: 3px;

    }
    &_name {
        position: relative;
        display: block;
        padding: 3px;
    }
    &_role {
        position: relative;
        display: block;
        padding: 3px;
    }
    &_value {
        position: relative;
        display: block;
        width: 25px;
        height: 100%;
        padding: 3px;
        text-align: center;
        line-height: 20px;
    }
    &_info {
        display: inline-flex;
        flex-flow: row nowrap;
        height: 20px;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7rem;
        text-transform: uppercase;
        margin: 1px;
        overflow: hidden;
        width: 100%;
    }
    &_control {
        width: 100%;
        margin-bottom: 10px
    }
}
.servo {
    @extend .propulsion;
    &_value {
        @extend .propulsion_value;
    }
    &_num {
        @extend .propulsion_num;
    }
    &_name {
        @extend .propulsion_name;
    }
    &_control {
        @extend .propulsion_control;
    }
    &_info {
        @extend .propulsion_info;
    }
}
.logic {
    @extend .propulsion;
    &_value {
        @extend .propulsion_value;
    }
    &_name {
        @extend .propulsion_name;
    }
    &_num {
        @extend .propulsion_num;
    }
    &_control {
        @extend .propulsion_control;
    }
    &_info {
        @extend .propulsion_info;
    }
}
