<html>
<head>
    <title>SCS</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
</head>
<body>

    <script type="text/javascript" src="/static/js/app.js"></script>

    <div id="main" class="container">
        <button id="getPins">Get pins</button>
        <button id="runPWM18">Run PWM18</button>
        <button id="runPWM23">Run PWM23</button>
    </div>
    <ul id="pinlist">
    </ul>
</body>
</html>
