@import "fonts";
@import "vars";
@import "mixins";

@import "components/stream";
@import "components/joystick";
@import "components/topbar";
@import "components/states";
@import "components/debug";

@import "components/controls/checkbox";

body {
    margin: 0;
    font-size: $font-size;
    font-family:"Roboto";
    overflow: hidden;

}
.container {
    background-color: black;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    border: 1px solid black;
    justify-content: space-between;
    color: white;
}
.mainView {
    overflow: hidden;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    &_left {
        width: 50%;
        height: 100%;
    }
    &_right {
        width: 50%;
        height: inherit;
        overflow-y: auto;
    }
}
// ::-webkit-scrollbar {
//     display: none;
// }
