@import "components/stream";
@import "components/joystick";
@import "components/topbar";
@import "components/states";

@import "fonts";
@import "vars";

body {
    margin: 0;
    font-size: $font-size;
    font-family:"Roboto";
}
.container {
    background-color: black;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    border: 1px solid black;
    justify-content: space-between;
}
.mainView {
    overflow: hidden;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    &_left {
        width: 50%;
    }
    &_right {
        width: 50%;
    }
}
